body {
    background-image: url("https://i.pinimg.com/originals/ee/4f/78/ee4f78ea5b71aedddeadcaa6e3b3ffe9.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    background-color: black;
}

header {
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    height: 130px;
    width: 200px;
    
}

.headerText {
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
}

.cityWeather {
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 20px;
    font-size:15px;
    height: auto;
    font-family: "Courier New", Courier, monospace;
    border-radius:25px;
    width:auto;
}

.navText {
    font-size: 25px;
    width: auto;
}

.city {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    border-bottom: solid 2px white;
    font-size: 40px;
    width: auto;
}

.space {
    display: flex;
    justify-content: space-around;
}

.inputBar {
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.nav {
    display: block;
}

.date {
    text-align: center;
    color: red;
}

.last {
    margin-bottom:20px;
}

.clearSkyDay {
/*
    background-image: url("https://1.bp.blogspot.com/-eKDvU-L7j5s/V6LbEkzDIdI/AAAAAAAAeWo/xAbz1XlBYc4JxGFd12sJ1ossZKuveGCDACLcB/s1600/Climate%2BChange.gif");
    background-size: cover;
*/
    color:orange;
}

.clearSkyNight {
   background-image: url("https://thumbs.gfycat.com/SaltyFormalDuckbillcat-small.gif");
    background-size: cover;
}

.weatherCols {
    border-bottom: solid 1px white;
}